*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 139, 139);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
/**
#title{
    font-size: 1.8em;
    font-weight: bold;
}*/
#subtitle{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
}
#details{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(0,0,0,0.5);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}
form .box{
    width: 98.5%;
    height: 2em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}
#options select{
    width: 98.5%;
    height: 2em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 2px;
}
#option2 select{
    width: 98.5%;
    height: 2em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 2px;
}
#checkbox1{
    margin-top: 10px;
}
#checkbox1 textarea{
    width: 98%;
    height: 80px;
    position: relative;
    bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
button{
    width: 98.5%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(0, 192, 58);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px;
}
textarea::placeholder{
    font-size: 1em;
    width: 70%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
#form_text{
    font-size: 18.5px;
}

input::placeholder{
    font-size: 1em;
    position: relative;
    width: 50%;
    font-weight: 300;
}
input[type="radio"].larger {
    cursor: pointer;
}
#logo {
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 180px;
}
